@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Playfair+Display";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  font-family: $fontFamily;
  background-color: rgba(1, 1, 249, 0.1);

  min-height: 100vh;
  display: grid;
  place-items: center;
}

.spoilers {
}
.title {
  margin-top: -80px;
  margin-bottom: 60px;
}
.title h2 {
  font-size: 60px;
  color: rgba(247, 239, 138, 1);
  text-align: center;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 770px;
}
.question {
  padding: 23px 25px 0 25px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin-bottom: 10px;

  // .question__title

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 10px;
  }

  // .question__description

  &__description {
    padding-bottom: 10px;
  }

  // .question__btn

  &__btn {
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  &__btn:hover {
    transform: rotate(180deg);
  }

  // .question__text

  &__text {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0 20px 0;
  }
}
// ----------------------
.question__text {
  display: none;
}

.show-text .question__text {
  display: block;
}

.minus-icon {
  display: none;
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon {
  display: none;
}
// ----------------------------------
.plus-icon {
  color: rgba(247, 239, 138, 1);
}
.far {
}
.fa-plus-square {
}
.minus-icon {
  color: rgba(247, 239, 138, 1);
}
.fa-minus-square {
}

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
